.additional-products {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

.additional-products__title {
  font-size: 24px;
  font-weight: normal;
  color: $color-dark;
}

.additional-products__list {
  list-style: none;
  padding-left: 0;
}

.additional-card {
  border-bottom: 1px solid $border-color;
  padding-bottom: 17px;
}

.additional-card__title {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

.additional-card__details {
  width: 280px;
  border-spacing: 0;
  margin-bottom: 14px;
}

.additional-card__quantity,
.additional-card__price {
  font-family: $font-secondary;
  font-size: 14px;
  color: $color-grey;
}

.additional-card__price {
  text-align: right;
}
