.additional-products {
  @include width-block(320px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  text-align: left;
  margin-bottom: 35px;
}

.additional-products__title {
  font-size: 24px;
  font-weight: normal;
  color: $color-dark;
  margin-bottom: 30px;
}

.additional-products__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  border-top: 1px solid $border-color;
}

@media (min-width: $tablet-width) {
  .additional-products {
    @include width-block(90%);
    min-width: 748px;
    max-width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 76px;
  }

  .additional-products__title {
    font-size: 36px;
    margin-bottom: 75px;
    padding-left: 37px;
  }

  .additional-products__list {
    border: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    @include width-block(90%);
    max-width: 1220px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 86px;
  }

  .additional-products__title {
    padding-left: 0;
  }

  .additional-products__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .additional-products__list {
    border-left: none;
    border-right: none;
    margin-right: 8%;
    flex-grow: 1;
  }
}
