.additional-products {
  @include width-block(320px);
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  margin-bottom: 35px;
}

.additional-products__title {
  font-size: 24px;
  font-weight: normal;
  color: $color-dark;
}

.additional-products__list {
  list-style: none;
  padding-left: 0;
}

.additional-card {
  border-bottom: 1px solid $border-color;
  padding-bottom: 17px;
}

.additional-card__title {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
}

.additional-card__details {
  width: 280px;
  border-spacing: 0;
  margin-bottom: 14px;
}

.additional-card__quantity,
.additional-card__price {
  font-family: $font-secondary;
  font-size: 14px;
  color: $color-grey;
}

.additional-card__price {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .additional-products {
    @include width-block(90%);
    max-width: 900px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 76px;
  }

  .additional-products__title {
    font-size: 36px;
    margin-bottom: 75px;
  }

  .additional-products__list {
    border: 1px solid #cdcdcd;
  }

  .additional-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 28px 38px 28px 37px;
  }

  .additional-card:not(:last-child) {
    border-bottom: 1px solid  #cdcdcd;
  }

  .additional-card__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .additional-card__details {
    width: 280px;
    border-spacing: 0;
    margin-bottom: 14px;
  }

  .additional-card__quantity,
  .additional-card__price {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    @include width-block(90%);
    max-width: 1440px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 86px;
  }

  .additional-products__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .additional-products__list {
    border-left: none;
    border-right: none;
    margin-right: 8%;
    flex-grow: 1;
  }

  .additional-card {
    padding: 15px 0 15px;
    align-items: center;
  }

  .additional-card__title {
    margin-bottom: 0;
    width: 180px;
  }

  .additional-card__details {
    width: 250px;
    border-spacing: 0;
    margin-bottom: 14px;
  }
}
