.advantage {
  @include width-block(320px);
  padding: 25px 20px 0;
  text-align: left;
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 34px;
  font-size: 36px;
  font-weight: normal;
  color: $color-dark;
}

.advantage__list {
  list-style: none;
  margin-bottom: 42px;
}

.advantage__item {
  padding: 4px 15px 5px 40px;
  margin-bottom: 17px;
  font-family: $font-secondary;
  font-size: 14px;
  color: $color-grey;
  position: relative;
  box-sizing: border-box;
  width: 255px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;

    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px auto;
  }

  &--useful::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--easy::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--transition::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--enjoy::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}


@media (min-width: $tablet-width) {
  .advantage {
    width: auto;
    border-bottom: 1px solid $border-color;
    padding: 14px 0 0;
    margin-bottom: 619px;
  }

  .advantage__title {
    @include width-block(90%);
    min-width: 748px;
    max-width: 900px;
    padding: 0 20px;
    margin-bottom: 38px;
    font-size: 60px;
    line-height: 1;
  }

  .advantage__list {
    @include width-block(90%);
    min-width: 748px;
    max-width: 900px;
    padding: 32px 20px 57px;
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 0;
  }

  .advantage__item {
    font-size: 16px;
    line-height: 1.4;
    padding: 115px 38px 48px 0;
    width: 40%;
    position: relative;
    margin-bottom: 0;

    &::before {
      position: absolute;
      width: 80px;
      height: 80px;
      top: 3px;
      left: 0;
    }

    &::after {
      content: "";
      font-family: $font-primary;
      font-size: 281px;
      color: #f2f2f2;
      position: absolute;
      width: 71px;
      height: 288px;
      left: 116px;
      top: -92px;
      z-index: -1;
    }

    &--one {
      margin-bottom: 86px;
      margin-right: 99px;
    }

    &--two {
      margin-bottom: 85px;
    }

    &--three {
      margin-right: 99px;
    }

    &--one::after {
      content: "1";
    }

    &--two::after {
      content: "2";
    }

    &--three::after {
      content: "3";
    }

    &--four::after {
      content: "4";
    }
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    padding: 49px 0 0 0;
    margin-bottom: 165px;
    border-bottom: none;
  }

  .advantage__title {
    margin-bottom: 63px;
  }

  .advantage__list {
    @include width-block(90%);
    max-width: 1220px;
    justify-content: space-between;
    border: none;
    padding-bottom: 63px;
  }

  .advantage__item {
    padding: 117px 0 48px 0;
    width: 20%;
    margin-bottom: 0;
  }
}
