body {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: normal;
  color: $color-base;
  text-align: center;
  line-height: 1.29em;

  margin: 0;

  background-color: #ffffff;
}

@media (min-width: $desktop-width) {
  body {
    width: 1140px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 720px 690px;
  }
}
