.button {
  display: inline-block;
  width: 280px;
  padding: 10px 0 10px;
  text-decoration: none;
  font-size: 16px;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
  border: none;
  z-index: 2;
  font-family: $font-primary;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--promo {
    font-size: 14px;
    padding: 12px 0 11px;
    z-index: 2;
  }

  &--form {
    margin-left: 20px;
    padding: 8px 0 9px;
  }

  &--more {
    background-color: #f2f2f2;
    color: $color-grey;

    &:hover,
    &:focus {
      background-color: #ebebeb;
      outline: none;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
      background-color: #ebebeb;
    }
  }
}


@media (min-width: $tablet-width) {
  .button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 16px;

    &--promo {
      width: 245px;
      font-size: 20px;
    }

    &--form {
      width: 281px;
      margin-left: 42px;
      margin-right: 0;
      padding: 11px 0;
      font-size: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    width: 100%;

    &--promo {
      width: 245px;
    }

    &--form {
      width: 568px;
      margin-left: 0;
      margin-right: 0;
    }

    &--additional {
      width: 27%;
      max-width: 245px;
      margin: 0;
    }
  }
}
