.button {
  display: inline-block;
  width: 280px;
  padding-top: 14px;
  padding-bottom: 11px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}
