.contacts {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 0;
  text-align: left;
  background-color: $bg-primary;
}

.contacts__description {
  width: 123px;
  color: $color-dark;
  text-transform: uppercase;
  line-height: 1.25em;
}

.contacts__address {
  width: 140px;
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 1.43em;
}
