.copyright {
  padding: 0;
}

.copyright__text {
  font-family: $font-secondary;
  margin: 0;
  color: $color-grey;
}

.copyright__link {
  margin-right: -6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.copyright__link svg {
  fill: #666666;
}

.copyright__link:hover svg,
.copyright__link:focus svg {
  fill: #68b738;
}


.copyright__link:active .copyright__text,
.copyright__link:active svg {
  fill: #68b738;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .copyright__text {
    font-family: $font-secondary;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 16px;
  }

  .copyright__link path {
    fill: #666666;
  }
}


