.copyright {
  @include width-block(320px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-family: $font-secondary;
}

.copyright__link path {
  fill: #666666;
}
