.example {
  @include width-block(320px);
  padding: 33px 20px 38px;
  text-align: left;
  color: $color-dark;

  background-color: $bg-secondary;
}

.example__title {
  margin-top: 0;
  margin-bottom: 33px;
  font-size: 36px;
  font-weight: normal;
}

.example__description {
  font-family: $font-secondary;
  font-size: 14px;
  color: #444444;
  line-height: 1.29;
}

.example__stats-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__cost {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.example__image {
  vertical-align: middle;
  margin-bottom: 35px;
}

.example__slider-label {
  text-transform: uppercase;
}


@media (min-width: $tablet-width) {
  .example {
    width: auto;
    text-align: left;
    color: $color-dark;

    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 40%, #f2f2f2 40%, #f2f2f2 60%, #f2f2f2 100%);
  }

  .example__wrapper {
    @include width-block(90%);
    max-width: 900px;
    padding: 51px 30px 70px;
  }


  .example__title {
    font-size: 60px;
  }

  .example__cost {
    flex-grow: 1;
    text-align: right;
    font-size: 20px;
  }

  .example__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 636px;
    height: 500px;
  }

  .example__slider-label {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    margin-bottom: 0;
    padding: 0;
    border: none;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
  }

  .example__wrapper {
    @include width-block(90%);
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
  }

  .example__title {
    margin-bottom: 142px;
    margin-top: 63px;
  }

  .example__description {
    width: auto;
    margin-bottom: 59px;
    font-size: 16px;
  }


  .example__stats-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 589px;
  }

  .example__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 636px;
    height: 500px;
  }

  .example__cost {
    text-align: left;
  }

  .example__cost:last-child {
    text-align: right;
  }
}
