.example {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 33px;
  padding-bottom: 38px;
  text-align: left;
  color: #111111;

  background-color: #f2f2f2;
}

.example__title {
  margin-top: 0;
  margin-bottom: 33px;
  font-size: 36px;
  font-weight: normal;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #444444;
  line-height: 1.29;
}

.example__stats-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stats {
  position: relative;

  width: 124px;


  text-align: center;
}



.stats__value {
  padding: 13px;
  padding-bottom: 17px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  margin: 0;

  font-size: 24px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: normal;
  font-stretch: normal;
}

.stats__name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;

  margin: 0;

  font-family: "ArialMT", sans-serif;
  font-size: 12px;
  line-height: 1em;
  color: #444444;
  background-color: #f2f2f2;
}

.example__cost {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.example__image {
  vertical-align: middle;
  margin-bottom: 35px;
}

.slider__label {
  text-transform: uppercase;
}
