.example {
  width: auto;
  text-align: left;
  color: $color-dark;
  background-color: $bg-secondary;
}

.example__wrapper {
  @include width-block(320px);
  padding: 23px 20px 38px;
}

.example__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: normal;
}

.example__description {
  padding-right: 14px;
  margin-bottom: 24px;
  font-family: $font-secondary;
  font-size: 14px;
  color: #444444;
}

.example__stats-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.example__cost {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}


.example__image {
  vertical-align: middle;
  text-align: center;
  margin-bottom: 40px;

  &--after {
    display: none;
  }
}

.example__slider {
  padding: 0 34px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.example__range-controls {
  width: 84px;
  height: 14px;
  padding: 3px 6px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: $bg-primary;
  border: 1px solid #cdcdcd;
}

.example__range-scale {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
}

.example__slider-label {
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, #f2f2f2 50% #f2f2f2 100%);
  }

  .example__wrapper {
    @include width-block(90%);
    min-width: 748px;
    max-width: 900px;
    padding: 51px 20px 75px;
  }

  .example__stats-wrapper {
    justify-content: flex-start;
    margin-bottom: 90px;
  }

  .example__title {
    font-size: 60px;
  }

  .example__cost {
    margin-left: auto;
    margin-top: 13px;
    margin-bottom: 0;
    text-align: right;
    width: 189px;
    font-size: 20px;
  }

  .example__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 636px;
    height: 500px;

    position: absolute;
    top: 0;

    &--before {
      left: 0;
      clip: rect(0, 336px, auto, auto);
    }

    &--after {
      right: 0;

      clip: rect(0, auto, auto, 336px);
    }
  }

  .example__img-wrapper {
    width: 636px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 544px;
    position: relative;
  }

  .example__range-controls {
    width: 428px;
    height: 6px;
    padding: 3px 6px;
    box-sizing: border-box;
    border-radius: 2.5px;
    background-color: #dcdcdc;
    border: none;
    position: relative;
  }

  .example__range-scale {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    position: relative;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);

    &::before {
      content: "";

      position: absolute;

      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #68b738;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .example__slider-label {
    font-size: 20px;
    border-bottom: 1px dashed hsla(0, 0%, 0%, 0.23%);
  }
}

@media (min-width: $desktop-width) {
  .example {
    margin-bottom: 0;
    padding: 0;
    border: none;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 30%, #f2f2f2 30%, #f2f2f2 100%);
  }

  .example__wrapper-description {
    max-width: 432px;
  }

  .example__wrapper {
    @include width-block(90%);
    max-width: 1220px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
  }

  .example__title {
    margin-bottom: 142px;
    margin-top: 0;
  }

  .example__description {
    padding-right: 0;
    width: auto;
    margin-bottom: 59px;
    font-size: 16px;
  }

  .example__stats-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__image {
    margin-top: 0;
    width: 636px;
    height: 500px;
  }

  .example__cost {
    width: 100%;
    text-align: left;
  }

  .example__cost-number {
    margin-left: 64px;
  }

  .example__slider {
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
