.form__list {
  list-style: none;
  padding-left: 0;
}

.form__item {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.form__fieldset {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.form__fieldset--pet-data,
.form__fieldset--program-check {
  border-bottom: 1px solid $border-color;
}

.form__label {
  font-size: 16px;
  line-height: 1.13em;
  color: $color-base;
  text-transform: uppercase;
  white-space: nowrap;
}

.form__fieldset-title {
  font-size: 24px;
  line-height: 1em;
  color: $color-dark;
}

.form__input {
  margin-left: 10px;
  padding: 10px 0 16px 10px;
  flex-grow: 1;
}

.form__comment-text {
  padding-left: 16px;
  margin-top: 20px;
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  font-size: 16px;
  font-family: $font-primary;
}

.form__input::placeholder,
.form__comment-text::placeholder {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  vertical-align: middle;
  color: $color-grey;
  text-transform: uppercase;
  letter-spacing: normal;
  opacity: 1;
}

.form__required-fields {
  font-family: $font-primary;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: $color-grey;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__list {
    &--additional {
      display: flex;
      flex-wrap: wrap;
      margin-top: 64px;
    }
  }

  .form__item {
    margin-bottom: 14px;
    display: flex;
    align-items: center;

    &--additional {
      width: 50%;
      margin-bottom: 54px;
    }
  }

  .form__fieldset {
    border: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .form__fieldset--pet-data {
    border: none;
  }

  .form__fieldset--program-check {
    border: 1px solid $border-color;
  }

  .form__label {
    font-size: 20px;
  }

  .form__fieldset-title {
    font-size: 36px;
  }

  .form__input {
    margin-left: 10px;
    padding: 10px 0 16px 10px;

    flex-grow: 1;
  }

  .form__comment-text {
    padding-left: 20px;
    margin-top: 71px;
    box-sizing: border-box;
    width: 100%;
    min-height: 174px;
    font-size: 20px;
  }

  .form__input::placeholder,
  .form__comment-text::placeholder {
    font-size: 20px;
  }

  .form__required-fields {
    font-size: 16px;
    margin-left: 165px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--additional {
      display: flex;
      flex-wrap: wrap;
      margin-top: 64px;
    }
  }

  .form__item {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    width: 100%;

    &--additional {
      width: 25%;
      margin-bottom: 54px;
    }

    &--owner {
      width: 40%;
    }
  }

  .form__fieldset--pet-data,
  .form__fieldset--program-check {
    width: 40%;
  }

  .form__fieldset--pet-data {
    margin-right: 80px;
  }

  .form__fieldset--program-check {
    border: 1px solid $border-color;
  }

  .form__required-fields {
    font-size: 16px;
    margin-left: 165px;
  }
}
