.form {
  @include width-block(320px);
  margin-bottom: 34px;
}

.form__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.form__item {
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  position: relative;

  &--additional {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 48px;
    margin-bottom: 2px;
  }

  &--program-check {
    margin-bottom: 10px;
    padding-left: 47px;
    padding-top: 6px;
    padding-bottom: 7px;
  }
}

.form__fieldset {
  margin: 0;
  border: none;
  padding: 20px 20px 0;

  &--program-check {
    padding-top: 24px;
    padding-bottom: 10px;
    margin-bottom: 29px;
    margin-top: 11px;
    position: relative;
  }

  &--program-check::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;

    width: 150vw;
    margin-left: -50vw;
    border: 1px solid $border-color;
  }

  &--comment {
    margin-top: 17px;
    margin-bottom: 24px;
  }

  &--additional {
    margin-bottom: 27px;
  }
}

.form__label {
  font-size: 16px;
  line-height: 1.13em;
  color: $color-base;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 15px;

  &--program-check::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
    top: -2px;
    left: 1px;
  }

  &--additional::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    top: 3px;
    left: 1px;
  }
}

.form__input-check,
.form__input-radio {
  display: none;
}

.form__input-radio:checked ~ .form__label--program-check::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #68b738;
  top: 9px;
  left: 12px;
}

.form__input-check:checked ~ .form__label--additional::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 17px;
  background: url("../img/icon-tick.svg") no-repeat;
  top: 11px;
  left: 9px;
}

.form__fieldset-title {
  margin-bottom: 11px;
  font-size: 24px;
  line-height: 1em;
  color: $color-dark;
  position: relative;
  padding-right: 20px;
  background-color: #ffffff;

  &--owner {
    width: 183px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    height: 3px;
    background-color: #68b738;
    width: 100vw;
    z-index: -1;
  }
}

.form__input {
  padding: 10px 0 9px 16px;
  margin-top: 3px;
  width: 100%;
  font-family: $font-primary;
  border: 1px solid $border-color;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  vertical-align: middle;
  color: $color-dark;
  text-transform: uppercase;
  letter-spacing: normal;

  &--owner {
    position: relative;
  }
}

.form__input-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form__comment-text {
  padding-left: 16px;
  padding-top: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid $border-color;
  width: 100%;
  min-height: 150px;
  font-size: 16px;
  font-family: $font-primary;
  text-transform: uppercase;
}

.form__input::placeholder,
.form__comment-text::placeholder {
  color: $color-grey;
  opacity: 1;
}

.form__required-fields {
  margin-top: 20px;
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: $color-grey;
}

@media (min-width: $tablet-width) {
  .form {
    @include width-block(90%);
    min-width: 748px;
    max-width: 900px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 72px;
  }

  .form__fieldset {
    padding: 40px 67px 0 73px;
    width: 100%;

    &--program-check {
      border: none;
      margin-bottom: 75px;
    }

    &--program-check::before {
      content: "";
      position: absolute;
      top: 0;
      height: 0;

      width: 0;
      margin-left: 0;
      border: none;
    }

    &--comment {
      margin-top: 48px;
      margin-bottom: 61px;
    }

    &--additional {
      margin-bottom: 13px;
    }
  }

  .form__fieldset-title {
    margin-left: -34px;
    font-size: 36px;
    padding-left: 30px;
    padding-right: 30px;


    &--owner {
      width: auto;
    }

    &::after {
      top: 18px;
      left: -50vw;
      width: 150vw;
    }
  }

  .form__list {
    &--program-check {
      border: 1px solid $border-color;
      padding-top: 30px;
      padding-bottom: 10px;
    }

    &--owner {
      padding-top: 25px;
    }

    &--additional {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;
      padding-top: 10px;
    }
  }

  .form__item {
    margin-bottom: 18px;
    display: flex;
    align-items: center;

    &--additional {
      width: 45%;
      margin-bottom: 36px;
      padding-left: 40px;
      box-sizing: border-box;
    }

    &--program-check {
      padding: 6px 0 6px 68px;
    }
  }

  .form__label {
    font-size: 20px;
    margin-right: 7px;
  }

  .form__input {
    margin-left: 10px;
    padding: 12px 0 12px 16px;

    flex-grow: 1;
  }

  .form__comment-text {
    padding-left: 20px;
    margin-top: 26px;
    box-sizing: border-box;
    width: 100%;
    min-height: 174px;
    font-size: 20px;
  }

  .form__input::placeholder,
  .form__comment-text::placeholder {
    font-size: 20px;
  }

  .form__required-fields {
    font-size: 16px;
    margin-left: 61px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    @include width-block(90%);
    max-width: 1220px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 82px;
  }

  .form__fieldset {
    padding: 0;
    width: 100%;

    &--pet-data {
      padding-right: 0;
      width: 47%;
      box-sizing: border-box;
    }

    &--program-check {
      width: 47%;
      box-sizing: border-box;
      padding-left: 0;
      border: none;
      margin: 0 0 0 auto;
    }

    &--owner {
      margin-top: 50px;
      padding-top: 40px;
    }

    &--comment {
      margin-top: 48px;
      margin-bottom: 61px;
      padding-top: 40px;
    }

    &--additional {
      margin-bottom: 45px;
      padding-top: 40px;
    }
  }

  .form__list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--program-check {
      padding-top: 36px;
      margin-bottom: 13px;
    }

    &--additional {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form__item {
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    width: 100%;

    &--additional {
      width: 20%;
    }

    &--owner {
      width: 47%;
    }
  }

  .form__required-fields {
    margin-left: 82px;
  }
}
