.logo {
  display: block;
  width: 320px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  padding-bottom: 15px;
  padding-left: 20px;
}


@media (min-width: $tablet-width) {
  .logo {
    width: 174px;
    padding: 0;
    margin: 0;
    margin-right: auto;
  }
}
