.logo-wrapper {
  @include width-block(320px);
  padding-left: 20px;
  position: relative;
}

.logo {
  display: block;
  width: 192px;
  box-sizing: border-box;
  text-align: left;
  padding-bottom: 13px;
}


@media (min-width: $tablet-width) {
  .logo-wrapper {
    padding: 0;
    width: auto;
    margin: 0;
  }

  .logo {
    width: 174px;
    padding: 0;
    margin: 0;
    margin-right: auto;
  }

  .logo__image {
    width: 174px;
    height: 59px;
  }
}
