.navigation__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navigation__item {
  border-top: 1px solid $border-color;
  padding-top: 20px;
  padding-bottom: 19px;
}

.navigation__link {
  display: block;

  font-size: 20px;
  text-decoration: none;
  color: $color-dark;
  text-transform: uppercase;
  font-weight: 500;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .navigation {
    border-bottom: 1px solid $border-color;
  }

  .navigation__toggle {
    position: absolute;
    width: 25px;
    height: 19px;
    top: 12px;
    right: 20px;
    display: block;
    border: none;
    background: transparent;
    outline: none;

    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 19px;
      top: 0;
      right: -3px;
    }

    &:focus {
      outline: 2px solid #68b738;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .navigation--closed .navigation__toggle::after {
    background-image: url("../img/icon-mobile-menu.svg");
  }

  .navigation--closed .navigation__list {
    display: none;
  }

  .navigation--opened .navigation__toggle::after {
    background: url("../img/icon-close.svg") no-repeat;
  }

  .navigation--opened .navigation__list {
    display: block;
  }

  .navigation--nojs .navigation__toggle::after {
    display: none;
  }

  .navigation--nojs .navigation__list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    padding-top: 10px;
    margin-left: 30px;

    border: none;
  }

  .navigation__item {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 35px;

    border: none;

    letter-spacing: -0.5px;
  }

  .navigation__item:last-child {
    margin-right: 0;
  }

  .navigation__item:first-child {
    border: none;
  }

  .navigation__link {
    font-size: 18px;
    padding-bottom: 10px;

    &:focus {
      outline: 2px solid #68b738;
    }

    &--active {
      border-bottom: 2px solid #68b738;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation__toggle {
    display: none;
  }

  .navigation__list {
    max-width: 590px;
    padding-top: 14px;
  }

  .navigation__link {
    font-size: 20px;

    &--bg-green {
      text-decoration: none;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 20px;
      letter-spacing: normal;

      &:hover {
        opacity: 0.6;
      }

      &:focus {
        outline: 2px solid #ffffff;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &--active-bg-green {
      border-bottom: 2px solid #ffffff;
    }
  }

  .navigation__item {
    margin-right: 33px;
  }

  .navigation__item:last-child {
    margin-right: 0;
  }
}
