@media (min-width: $tablet-width) {
  .navigation {
    flex-grow: 1;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__list {
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .navigation__toggle {
    display: none;
  }

  .navigation__list {
    flex-grow: 1;
  }
}
