.navigation__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  border-top: 1px solid #cdcdcd;
}

.navigation__item {
  border-bottom: 1px solid #cdcdcd;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation__link {
  font-size: 20px;
  text-decoration: none;
  color: $color-dark;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 12px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    border-bottom: 2px solid #68b738;
  }
}

@media (max-width: $mobile-width-only) {
  .navigation__toggle {
    position: absolute;
    top: 12px;
    right: 22px;
    display: block;
    width: 25px;
    height: 19px;
    border: none;
    background: transparent;
    outline: none;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 19px;
      top: 0;
      right: 0;
    }
  }

  .navigation--closed .navigation__toggle::before {
    background-image: url("../img/icon-mobile-menu.svg");
  }

  .navigation--closed .navigation__list {
    display: none;
  }

  .navigation--opened .navigation__toggle::before {
    background: url("../img/icon-close.svg") no-repeat;
  }

  .navigation--opened .navigation__list {
    display: block;
  }

  .navigation--nojs .navigation__toggle::before {
    display: none;
  }

  .navigation--nojs .navigation__list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__list {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    border: none;
  }

  .navigation__item {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 35px;
  }

  .navigation__item:last-child {
    margin-right: 0;
  }

  .navigation__item:first-child {
    border: none;
  }

  .navigation__link {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .navigation__toggle {
    display: none;
  }

  .navigation__list {
    flex-grow: 1;
  }

  .navigation__link--bg-green {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: normal;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .navigation__link {
    &--active-bg-green {
      border-bottom: 2px solid #ffffff;
    }
  }
}
