.page-header {
  padding-top: 11px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media (min-width: $tablet-width) {
  .page-header {
    @include width-block(90%);
    min-width: 748px;
    max-width: 900px;
    padding-top: 24px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include width-block(90%);
    max-width: 1220px;
    padding-top: 54px;
    padding-right: 0;
    padding-left: 0;
  }
}
