.page-main {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.page-main__title {
  margin-top: 31px;
  margin-bottom: 35px;
  margin-left: 20px;
  font-size: 36px;
  font-weight: normal;
  color: $color-dark;
}
