.page-main {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.page-main__title {
  @include width-block(320px);
  margin-top: 31px;
  margin-bottom: 35px;
  font-size: 36px;
  font-weight: normal;
  color: $color-dark;
}
