.products-catalog {
  @include width-block(320px);
}

.products-catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid $border-color;
  margin-top: 36px;
}

@media (min-width: $tablet-width) {
  .products-catalog {
    @include width-block(90%);
    min-width: 748px;
    max-width: 900px;
    padding: 0 20px 35px;
    margin-top: 156px;
  }

  .products-catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .products-catalog {
    @include width-block(90%);
    max-width: 1220px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
  }
}
