.products-catalog {
  @include width-block(320px);
  padding-left: 20px;
  padding-right: 20px;
}

.products-catalog__list {
  list-style: none;
  padding-left: 0;
}

.product-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 25px;
  padding-top: 25px;

  border-bottom: 1px solid $border-color;
}

.product-card__wrapper {
  width: 140px;
}

.product-card__link {
  text-decoration: none;
  color: $color-dark;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.product-card__details {
  width: 140px;
  border-spacing: 0;
}

.product-card__details-name {
  font-family: $font-secondary;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  color: $color-grey;
}

.product-card__details-value {
  font-family: $font-secondary;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  color: $color-grey;
  text-align: right;
}


.products__description {
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: $color-grey;
}

.button--more {
  background-color: $bg-secondary;
  color: $color-grey;
}
