.program-selection {
  @include width-block(320px);
  text-align: left;
  margin-top: 32px;
}

.program-selection__text {
  width: 226px;
  margin-top: 0;
  padding-left: 20px;
  font-size: 14px;
  line-height: 1.29;
  color: $color-dark;
  text-transform: uppercase;
}


@media (min-width: $tablet-width) {
  .program-selection {
    @include width-block(80%);
    max-width: 900px;
    box-sizing: border-box;
    margin-top: 50px;
  }

  .program-selection__text {
    width: 330px;
    font-size: 20px;
    padding-left: 72px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .program-selection {
    @include width-block(90%);
    max-width: 1440px;
  }

  .program-selection__text {
    width: 330px;
    font-size: 20px;
    padding-left: 110px;
  }
}
