.program {
  @include width-block(320px);
  padding-left: 20px;
  padding-right: 20px;
}

.program__weight {
  margin-top: 18px;
  padding: 35px 20px 20px;
  background-color: $bg-secondary;
  text-align: left;
  position: relative;
}

.program__title {
  text-transform: uppercase;
  font-size: 24px;
  margin-left: 72px;
  margin-top: 0;
  font-weight: normal;

  &--loss {
    margin-bottom: 33px;
  }

  &--set {
    margin-bottom: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 22px;
    top: 24px;
    width: 50px;
    height: 51px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }
}

.program__title--loss::after {
  left: 30px;
  top: 22px;
  width: 35px;
  height: 49px;
  background-image: url("../img/icon-cat-slim.svg");
}

.program__title--set::after {
  left: 13px;
  top: 35px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
}

.program__description {
  padding-bottom: 23px;
  padding-right: 15px;
  margin-bottom: 19px;
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 1.29em;
  color: $color-grey;
  border-bottom: 1px solid #cdcdcd;
}

.program__catalog {
  text-decoration: none;
  color: $color-dark;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 97px;
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: $tablet-width) {
  .program {
    @include width-block(80%);
    max-width: 900px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .program__weight {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 81px 285px 62px 52px;
    min-height: 313px;
    box-sizing: border-box;
  }

  .program__title {
    font-size: 36px;
    margin-left: 0;
    margin-bottom: 26px;

    &::before {
      content: "";
      top: 91px;
      left: auto;
      right: 62px;
      width: 200px;
      height: 200px;
    }
  }

  .program__title--loss::after {
    top: 80px;
    left: auto;
    right: 92px;
    width: 141px;
    height: 194px;
  }

  .program__title--set::after {
    top: 135px;
    left: auto;
    right: 28px;
    width: 268px;
    height: 113px;
  }

  .program__description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 61px;
    padding: 0 23px 0 0;
    border: none;
  }

  .program__catalog {
    font-size: 20px;

    &::after {
      top: 10px;
      left: 130px;
    }
  }
}


@media (min-width: $desktop-width) {
  .program {
    @include width-block(80%);
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 110px;
  }

  .program__weight {
    width: 45%;
    padding: 81px 56px 62px 52px;
  }

  .program__title {
    margin-bottom: 75px;
    margin-left: 164px;

    &::before {
      right: auto;
      left: 56px;
      top: 46px;
      width: 100px;
      height: 100px;
    }
  }

  .program__title--loss::after {
    right: auto;
    left: 70px;
    top: 44px;
    width: 71px;
    height: 96px;
  }

  .program__title--set::after {
    right: auto;
    left: 35px;
    top: 65px;
    width: 134px;
    height: 57px;
  }

  .program__description {
    margin-bottom: 36px;
    padding: 0;
  }
}
