.program-selection {
  overflow: hidden;
  text-align: left;
  margin-top: 31px;
}

.program-selection__text {
  @include width-block(320px);
  margin-top: 0;
  margin-bottom: 17px;
  padding-left: 20px;
  padding-right: 70px;
  font-size: 14px;
  line-height: 1.29;
  color: $color-dark;
  text-transform: uppercase;
}


@media (min-width: $tablet-width) {
  .program-selection {
    width: 100%;
    margin-top: 49px;
  }

  .program-selection__text {
    @include width-block(90%);
    min-width: 748px;
    max-width: 900px;
    font-size: 20px;
    padding-left: 60px;
    padding-right: 310px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .program-selection__text {
    @include width-block(90%);
    max-width: 1220px;
    font-size: 20px;
    padding-left: 0;
    padding-right: 850px;
    margin-bottom: 64px;
  }
}
