.promo {
  padding-top: 29px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 320px 305px;
  background-repeat: no-repeat;
  color: #ffffff;

  text-align: center;
}

.promo__title {
  font-size: 36px;
  line-height: 1em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 19px;
}

.promo__slogan {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 29px;
}

.promo__image {
  margin-bottom: 3px;
  vertical-align: middle;
}
