.promo {
  width: auto;
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, #63a73a  0%, #63a73a  63.5%, #ffffff 63.5%, #ffffff 100%);
  background-position: top center, 0 0;
  background-size: auto, auto;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}

.promo-wrapper {
  @include width-block(320px);
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 20px;
}

.promo__title {
  font-size: 36px;
  line-height: 1em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 19px;
}

.promo__slogan {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 29px;
}

.promo__image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .promo {
    @include width-block(80%);
    max-width: 900px;
    background-image: none;
    position: relative;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
  }

  .promo-wrapper {
    width: 100%;
  }

  .promo__title {
    font-size: 60px;
    color: $color-dark;
    margin-bottom: 33px;
    width: 415px;
  }

  .promo__slogan {
    color: $color-dark;
    font-size: 20px;
    margin-bottom: 48px;
  }

  .promo__image {
    margin-top: -20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    @include width-block(100%);
    max-width: 100%;
    min-height: 540px;
    margin-top: -75px;
    padding-top: 151px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, #ffffff  0%, #ffffff  716px, #63a73a 716px, #63a73a 100%);
    background-repeat: no-repeat;
    background-position: 716px 0, 0 0;
    z-index: -1;
  }


  .promo-wrapper {
    padding-top: 61px;
    width: 410px;
    margin-left: 0;
    margin-right: 0;
  }

  .promo__image {
    margin-left: 30px;
  }
}
