.special-offer {
  width: 100%;
  margin: 38px auto 0;
  padding: 188px 50px 40px 50px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  box-sizing: border-box;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  background-color: #70b447;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.special-offer__description {
  margin: 0;

  font-family: $font-secondary;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    width: 56px;
    height: 61px;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/icon-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .special-offer {
    width: 100%;
    padding: 75px 12px 67px 424px;
    margin-top: 67px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    background-size: cover;
  }

  .special-offer__description {
    width: 165px;
    text-align: left;

    &::before {
      top: 65px;
      left: 120px;
    }
  }
}

@media (min-width: $desktop-width) {
  .special-offer {
    justify-content: center;
    align-items: flex-end;

    width: 245px;
    padding: 188px 40px 43px 40px;
    margin: 0;

    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .special-offer__description {
    width: 100%;
    text-align: center;

    &::before {
      top: 65px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../img/icon-gift.svg");
    }
  }
}
