.stats {
  width: 124px;
  text-align: center;
  position: relative;
}

.stats:first-child {
  margin-right: auto;
}

.stats__value {
  margin: 0;
  padding: 13px 13px 17px 13px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;

  font-size: 24px;
  line-height: 1em;
  text-transform: uppercase;
}

.stats__name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;

  font-family: $font-secondary;
  font-size: 12px;
  line-height: 1em;
  color: $color-grey;

  background-color: $bg-secondary;
}

@media (min-width: $tablet-width) {
  .stats {
    width: 165px;
  }

  .stats:first-child {
    margin-right: 39px;
  }

  .stats__value {
    padding: 16px 31px 25px 30px;
    margin: 0;

    font-size: 30px;

    border-radius: 4px;
  }

  .stats__name {
    bottom: -5px;
    padding-left: 8px;
    padding-right: 9px;

    font-size: 14px;
    background-color: $bg-primary;
    white-space: nowrap;
  }
}

@media (min-width: $desktop-width) {
  .stats {
    margin-bottom: 46px;
  }

  .stats:first-child {
    margin-right: 40px;
  }

  .stats__name {
    background-color: $bg-secondary;
  }
}
