$font-primary: "Oswald", "Arial", sans-serif;
$font-secondary: "Arial", sans-serif;


$color-grey: #444444;
$color-dark: #111111;
$color-white: #ffffff;
$color-base: #222222;

$bg-primary: #ffffff;
$bg-secondary: #f2f2f2;

$border-color: #ededed;

$tablet-width: 768px;
$desktop-width: 1200px;


@mixin width-block($width) {
  width: $width;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
